[Unit]
Description=Job that runs the plex server

[Service]
Type=simple
Restart=on-failure
EnvironmentFile=/etc/environment
ExecStart=/usr/local/bin/plex_server start
ExecStop=/usr/local/bin/plex_server stop

[Install]
WantedBy=multi-user.target